.react-loading-skeleton {
  --base-color: #eee !important;
  --highlight-color: #ddd !important;
}

@media (prefers-color-scheme: dark) {
  .react-loading-skeleton {
    --base-color: #333 !important;
    --highlight-color: #444 !important;
  }
}

@media (prefers-color-scheme: dark) {
  pre[data-theme='light'],
  code[data-theme='light'] {
    display: none;
  }
}

@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  pre[data-theme='dark'],
  code[data-theme='dark'] {
    display: none;
  }
}

pre > code {
  display: grid;
  margin: 0 -1.25rem;
}

[data-line] {
  padding: 0 1.25rem 0 1rem;
  border-left: transparent 0.25rem solid;
}

[data-highlighted-line] {
  background-color: var(--color-secondary);
  border-color: var(--color-text);
}
