.react-loading-skeleton {
  --base-color: #eee !important;
  --highlight-color: #ddd !important;
}

@media (prefers-color-scheme: dark) {
  .react-loading-skeleton {
    --base-color: #333 !important;
    --highlight-color: #444 !important;
  }
}

[data-rehype-pretty-code-figure] > pre > code {
  margin: 0 -1.25rem;
}

pre [data-line] {
  padding: 0 1.25rem 0 1rem;
  border-left: transparent 0.25rem solid;
}

pre [data-highlighted-line] {
  background-color: var(--color-secondary);
  border-color: var(--color-text);
}

code[data-theme*=' '],
code[data-theme*=' '] span {
  color: var(--shiki-light);
}

@media (prefers-color-scheme: dark) {
  code[data-theme*=' '],
  code[data-theme*=' '] span {
    color: var(--shiki-dark);
  }
}
