:root {
  --color-bg: #fff;
  --color-float: #fff;
  --color-text: #111;
  --color-text-alt: #fff;
  --color-paragraph: #333;
  --color-description: #999;
  --color-primary: #111;
  --color-secondary: #eee;
  --color-success: #0c8;
  --color-success-bg: #cfe;
  --color-danger: #f33;
  --color-danger-bg: #fcc;
  --color-warning: #fa0;
  --color-warning-bg: #fec;
  --color-info: #0af;
  --color-info-bg: #cef;
  --text-2xs: 0.625rem; /* 10px */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-md: 1rem; /* 16px */
  --text-lg: 1.25rem; /* 20px */
  --text-xl: 1.5rem; /* 24px */
  --text-2xl: 2rem; /* 32px */
  --text-3xl: 2.5rem; /* 40px */
  --text-4xl: 3rem; /* 48px */
  --shadow-md: 0 2px 8px rgb(0 0 0 / 10%);
  --shadow-lg: 0 4px 16px rgb(0 0 0 / 10%);
  --font-monospace: ui-monospace, sfmono-regular, menlo, monaco, consolas,
    'Liberation Mono', 'Courier New', monospace;

  @media (width < 1200px) {
    --text-lg: 1.125rem; /* 18px */
    --text-xl: 1.25rem; /* 20px */
    --text-2xl: 1.75rem; /* 28px */
    --text-3xl: 2rem; /* 32px */
    --text-4xl: 2.5rem; /* 40px */
  }

  @media (width < 810px) {
    --text-lg: 1.125rem; /* 18px */
    --text-xl: 1.25rem; /* 20px */
    --text-2xl: 1.5rem; /* 24px */
    --text-3xl: 1.75rem; /* 28px */
    --text-4xl: 2rem; /* 32px */
    --shadow-md: 0 1px 4px rgb(0 0 0 / 10%);
    --shadow-lg: 0 2px 8px rgb(0 0 0 / 10%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #111;
    --color-float: #222;
    --color-text: #ddd;
    --color-text-alt: #111;
    --color-paragraph: #ccc;
    --color-description: #999;
    --color-primary: #eee;
    --color-secondary: #333;
    --color-success: #0c8;
    --color-success-bg: #064;
    --color-danger: #f33;
    --color-danger-bg: #600;
    --color-warning: #fa0;
    --color-warning-bg: #640;
    --color-info: #0af;
    --color-info-bg: #046;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo',
    'Pretendard Variable', Pretendard, Roboto, 'Noto Sans KR', 'Segoe UI',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
  line-height: 1;
  color: var(--color-text);
  word-break: keep-all;
  overflow-wrap: break-word;
  tab-size: 4;
  background-color: var(--color-bg);
  text-size-adjust: 100%;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 600;
}

h1 {
  font-size: var(--text-2xl);
}

h2 {
  font-size: var(--text-xl);
}

h3 {
  font-size: var(--text-lg);
}

h4 {
  font-size: var(--text-md);
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: var(--font-monospace);
  font-size: var(--text-sm);
}

code:not(:where(pre *)) {
  padding: 0.125rem 0.25rem;
  background-color: var(--color-secondary);
  border-radius: 4px;
}

kbd {
  padding: 0.125rem 0.25rem;
  font-family: inherit;
  font-size: var(--text-2xs);
  font-weight: 500;
  vertical-align: text-top;
  background-color: var(--color-float);
  border: 1.5px solid var(--color-secondary);
  border-bottom: 3px solid var(--color-secondary);
  border-radius: 6px;
}

pre {
  padding: 1rem 1.25rem;
  overflow: auto;
  line-height: 1.6;
  background-color: var(--color-float);
  border-radius: 8px;
  box-shadow: var(--shadow-lg);
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-collapse: collapse;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  font-variation-settings: inherit;
  font-weight: inherit;
  font-feature-settings: inherit;
  line-height: inherit;
  color: inherit;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  appearance: button;
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  appearance: button;
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

blockquote {
  padding: 1.25rem;
  background-color: var(--color-info-bg);
  border-radius: 8px;
}

fieldset {
  padding: 0;
  margin: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  padding: 0;
  margin: 0;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  color: var(--color-description);
  opacity: 1;
}

button,
[role='button'] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
}

[hidden] {
  display: none;
}
